section#techUncensored {
  background: linear-gradient(180deg, #0d1118 40%, #53565d, #85878d);
  min-height:800px;
  color: #FFF;

  h3 {
    font: {
      size: 40px;
      weight: 400;
    }
    padding: 20px;
    text-align: center;
  }

  #spotify {
    // margin-top:50px;
    align-items: center;
  }

  #techUncensored-videos {
    padding:20px 0;

    .alice-carousel {
      li {
        padding:0 5px;
      }
    }

  }
}