// variables

$font-family: 'Roboto Slab', serif;
$font-size: 14px;

$lightRed: #ed6a5a;
$deepBlue: #08415c;
$offWhite: #eaebf0;
$blueGrey: #454851;
$offBlack: #04080f;

$mobile: 300px;
$tablet: 600px;
$desktop: 1000px;
