.videoBlocks {


  @media (min-width: $desktop) {
    padding: 0 50px;
  }

  .mainVideo {
    width: 100%;
    height: 200px;
    position: relative;

    @media (min-width: $desktop) {
      height: 306px;
    }

    .mainVideo_wrapper {
      position: relative;
      bottom: -200px;
      z-index: 0;
      background: $offWhite;
      width: 100%;
      padding: 10px;

      @media (min-width: $desktop) {
        background: transparent;
        position: absolute;
        bottom: 25px;
        z-index: 1;
      }

      .mainVideo_title {
        font: {
          size: 14px;
          weight: bold;
        }

        a {
          color: $blueGrey;
        }

        @media (min-width: $desktop) {
          font: {
            size: 32px;
          }
          a {
            color: $offWhite;
          }
        }
      }

      .mainVideo_description {
        color: $blueGrey;
        font: {
          size: 12px;
        }
        margin-top: 10px;

        @media (min-width: $desktop) {
          color: $offWhite;
          font: {
            size: 18px;
          }
          margin-top: 0;
        }
      }
    }
  }

  .subVideo {
    margin-top: 150px;

    @media (min-width: $desktop) {
      margin-top: 5px;
    }

    .video {
      transform: scale(1);
      transition: transform 200ms;
      z-index: auto;
      flex-grow: 1;
      margin: 10px 0;

      @media (min-width: $desktop) {
        margin: auto;
      }

      .subVideo_bg {
        width: 99%;
        height: 150px;
        position: relative;
      }

      .subVideo_title {
        background: $offWhite;
        width: 99%;
        transition: background 100ms;
        font: {
          size: 14px;
          weight: bold;
        }
        padding: 10px;

        @media (min-width: $desktop) {
          background: transparent;
          position: absolute;
          padding:0;
        }
      }

      .subVideo_description {
        margin-top: 10px;
        color: $blueGrey;
        font: {
          size: 11px;
          weight: normal;
        }

        @media (min-width: $desktop) {
          display: none;
        }
      }

      &:hover {
        @media (min-width: $desktop) {
          transform: scale(1.25);
          transition: transform 200ms;
          transition-timing-function: linear;
          z-index: 99;

          .subVideo_title {
            background: $offWhite;
            padding: 5px;
            transition: background 1s;

            .subVideo_description {
              display: block;
              transition: display 1s;
            }
          }
        }
      }
    }
  }

  .overlay-blue {
    --hue: blue;
  }

  .overlay {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(15deg, hsla(var(--hue), 50%, 40%, 1) 5%, hsla(var(--hue), 50%, 40%, 0) 75%), radial-gradient(circle at center bottom, hsla(var(--hue), 100%, 60%, 0.4) 10%, hsla(var(--hue), 100%, 60%, 0) 60%), linear-gradient(345deg, rgba(0, 0, 0, 0.25) 5%, transparent 25%);
  }
}